/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: " ";
    display: block;
    clear: both;
}
.col {
    float: left;   
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-third {
    width: 33.333333%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center;
}
/* Main */
#main {
}

/* Header */
#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

/* Navigation */
#nav,
.subnav {
    list-style-type: none;
}
#nav {
    position: relative;
    display: inline-block;
    /* right: 0; */

}
#nav>li {
    display: inline-block;
    position: relative;
}
#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 26px;
}
#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #fff;
    background-color: #ccc;

}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    left: 0;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

/* Icon */
.nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: #db3636;
}
#header .mobile-icon,
#header .search-icon {
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}

/* Slider */
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('assets/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    bottom: 48px;   
}
#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

/* Content */
#content {
    
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading {
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .text-about  {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

/* Band List */
#content .members-list {
    margin-top: 48px;
}
#content .members-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}
#content .members-name {
    font-size: 15px;
}
#content .members-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour */
.tour-section {
    background-color: #000;
    color: #fff;
    font-size: 15px;
}
.tour-section .tour-buy {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tour-section li {
    color: #757575;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
.tour-section .sold-out {
    background-color: #db3636;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tour-section .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 32px
}
.places-body{
    background-color: #fff;
    color: #000;
    padding: 16px;
}
.places-heading{
    font-size: 15px;
    
}
.places-img{
    margin-top: 15px;
    width: 100%;
    display: block;
}
.places-img:hover{
    opacity: 0.6;
}
.places-time{
    opacity: 0.6;
    margin-top: 15px;
}
.places-desc{
    margin-top: 15px;
}
.places-buy-button{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    border: none;
}
.places-buy-button:hover{
    background-color: #ccc;
    color: #000;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFaceIn .5s ease;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 12px;
}
.modal-close:hover {
    background-color: #ccc;
    color: #000;
}
.modal .modal-header {
    background-color: #009688;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
}
.modal-body {
    padding: 16px;
    font-size: 15px;
}
.modal-label {
    display: block;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
.buy-tickets {
    text-align: center;
    border: none;
    width: 100%;
    background-color: #009688;
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
}
.buy-tickets:hover {
    background-color: #ccc;
    color:#000;
}
.modal-footer {
    padding: 12px;
    font-size: 16px;
    text-align: right;
}
.modal-footer a {
    color: blue;
}

/* Contact */
.contact-content {
    font-size: 18px;
    margin-top: 48px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
}
.contact-form {
    font-size: 15px;
}
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-submit-btn {
    float: right;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
}
.contact-submit-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Footer */
.map-section img {
    width: 100%;
}
#footer {
    padding: 64px 16px;
}
#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    font-size: 24px;
}
#footer .social-list a:hover {
    opacity: 0.5;
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a {
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
@keyframes modalFaceIn {
    from {
        transform: translateY(-130px);
    }
    to {
        transform: translateY(0px);
    }
}
